// BASE COLORS
$white: #FFFFFF;
$black: #161720;

$light-gray: #F8F8F8;
$mid-gray: #E0E0E0;
$gray: #88898F;
$dark-gray: #403F47;


// PRIMARY COLORS
$blue: #0067B3;
$dark-blue: #18489A;
$indigo: #397CEE;
$mid-blue: #127CD3;
$light-blue: #13D1F6;

$light-periwinkle: #F9FBFF;
$coral: #F86A6A;
$lemon: #FCE513;
$bee: #FFCD4E;
$rosa: #FDBFCE;
$seafoam: #BAEEDC;
$beauty-pink: #F05D6B;
$pacific: #B0D6E7;
$lilac: #F0F3FC;


// CATEGORY
$blush: #FAF3F0;
$pink: #FE3D6C;
$violet: #B4278C;

$cream: #FFF9ED;
$yolk: #FF9900;
$lightsky: #F1F7FE;

$light-sage: #D2E3E2;
$teal: #00A99C;
$light-aqua: #EAFCFF;
$aqua: #15A2B9;


// SYSTEM VALIDATION
$brick: #EC483E;
$freshmint: #55C9A5;
$chili: #FF4E4E;

// MISC 
$silver: #E7EAF4;
$opal: #FAFBFC;
$lightyellow: #FFF9EE;


//SOCIAL
$social:#1778F2;

//LAZY LOAD
$super-light-gray: #EBEDF0;