.blog-paragraph {

    font-family: $font-base;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    &--big {
            color: $black;
            float: left;
            font-family: $font-heading1;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            padding-top: 10px;
            line-height: 30px;
            letter-spacing: 1.6px;
            text-transform: uppercase;
            padding-right: 8px;
            padding-left: 3px;
          }
}

.video-placeholder {
    margin: -60px auto 10px auto;
    z-index: 99999999999;
    position: relative;
    width: 1224px;

    @include respond(tablet) {
        width: 100%;
    }

    &__video {
        width: 100%;
        //height: 720px;
        background: $black;

        video {
            width: 100%;
        }
    }
    
    &__description {
        text-align: center;
        margin: 16px 0;
        font-size: 14px;
        line-height: 22px;
    }

}