.new-arrival {
    &__container {
        background-color: $light-gray;
        padding: 48px 0;
    }

    &__content {

        &__h2 {
            margin-bottom: 28px;
        }
    }
}

.sale {
    position: relative;
    padding: 48px 0;
    min-height: 346px;
    max-height: 640px;

    @include respond(mobile) {
        padding: 16px 0 24px 0 !important;
        min-height: min-content;
    }

    &--with-controls {
        @include respond(tablet) {
            min-height: 400px;
        }

        @include respond(mobile) {
            padding: 16px 0 24px 0;
            min-height: 275px;
        }
    }

    &--three-cards {
        padding: 34px 0 32px 0;

        @include respond(mobile) {
            padding: 16px 0 24px 0;
        }

        & > .card--sale {
            &:nth-child(1) {
                margin-bottom: 24px;
            }
        }
    }

    &--four-cards {
        padding: 34px 0 32px 0;

        @include respond(mobile) {
            padding: 16px 0 24px 0;
        }

        & > .card--sale {
            &:nth-child(1), &:nth-child(2) {
                margin-bottom: 24px;
            }
        }
    }

    &__controls {
        display: none;
        position: absolute;
        bottom: 35px;

        @include respond(tablet) {
            display: block;
           
        }
    }
}


.others {
    &-video {
        position: relative;
        min-height: 584px;
        background-color: $blush;
        
        
        @include respond(tablet) {
            
        }
        
        @include respond(mobile) {
            
        }

        &__bg {
            background-color: $coral;
            width: 49.18%;
            height: 75%;
            position: absolute;
            right: 0;
            z-index: 50;

            @include respond(tablet) {
                height: 88.23%;
                width: 90%;
            }

            @include respond(mobile) {
                width: 77%;
            }
        }

        &__content {
            position: relative;
            display: flex;
            z-index: 50;
            padding-top: 48px;
            padding-bottom: 48px;
            justify-content: space-between;

            @include respond(1280px) {
                height: 600px;
                justify-content: flex-end;
            }

            @include respond(tablet) {
                padding-top: 24px;
                padding-bottom: 24px;
            }
        }

        &__video {
            position: relative;
            height: 456px;
            flex: 0 0 65%;

            @include respond(1280px) {
                position: absolute;
                width: 500px;
                height: 300px;
                left: 40%;
                transform: translateX(-50%);
            }

            @include respond(1000px) {
                left: 30%;
                width: 335px;
                height: 215px;
            }

            @include respond(tablet) {
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            &-file {
                position: absolute;
                z-index: 50;
                height: 100%;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            &-btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                z-index: 99;
                height: 36.7%;
                width: 24%;
            }
        }

        &__text {
            flex: 0 0 34%;
            z-index: 99;

            @include respond(mobile) {
                flex: 0 0 60%;
            }

            & span {
                display: block;
                margin-bottom: 8px;
                color: $white;
                letter-spacing: 3px;
                white-space: nowrap;
            
                @include respond(tablet) {
                    letter-spacing: 2px;
                }
            }

            & h1 {
                white-space: nowrap;

                @include respond(tablet) {
                    font-size: 32px;
                    line-height: 40px;
                    margin-top: 270px;
                }

                & span {
                    &:nth-of-type(1) {
                        color: $white;
            
                        @include respond(1290px) {
                            text-align: left;
                        }
                    }

                    &:nth-of-type(2) {
                        color: $lemon;
                        text-align: center;
                    }
                }
            }

            & p {
                color: $white;
            
                @include respond(1290px) {
                    
                }

                @include respond(tablet) {
                    
                }

                @include respond(mobile) {
                    
                }
            }
        }

        &__controls {
            position: absolute;
            right: 20px;
            align-self: flex-end;
            
            @include respond(1290px) {
                text-align: right;
            }

        }
    }
}