.new-arrival {
    &__container {
        background-color: $light-gray;
        padding: 48px 0;
    }

    &__content {

        &__h2 {
            margin-bottom: 28px;
        }
    }
}

.sale {
    position: relative;
    padding: 48px 0;
    min-height: 346px;
    max-height: 640px;

    @include respond(mobile) {
        padding: 16px 0 24px 0 !important;
        min-height: min-content;
    }

    &--with-controls {
        @include respond(tablet) {
            min-height: 400px;
        }

        @include respond(mobile) {
            padding: 16px 0 24px 0;
            min-height: 275px;
        }
    }

    &--three-cards {
        padding: 34px 0 32px 0;

        @include respond(mobile) {
            padding: 16px 0 24px 0;
        }

        & > .card--sale {
            &:nth-child(1) {
                margin-bottom: 24px;
            }
        }
    }

    &--four-cards {
        padding: 34px 0 32px 0;

        @include respond(mobile) {
            padding: 16px 0 24px 0;
        }

        & > .card--sale {
            &:nth-child(1), &:nth-child(2) {
                margin-bottom: 24px;
            }
        }
    }

    &__controls {
        display: none;
        position: absolute;
        bottom: 35px;

        @include respond(tablet) {
            display: block;
           
        }
    }
}


.others {
    &-video {
        position: relative;
        min-height: 584px;
        background-color: $blush;
        
        
        @include respond(tablet) {
            
        }
        
        @include respond(mobile) {
            
        }

        &__bg {
            background-color: $coral;
            width: 49.18%;
            height: 75%;
            position: absolute;
            right: 0;
            z-index: 50;

            @include respond(tablet) {
                height: 88.23%;
                width: 90%;
            }

            @include respond(mobile) {
                width: 77%;
            }
        }

        &__content {
            position: relative;
            display: flex;
            z-index: 50;
            padding-top: 48px;
            padding-bottom: 48px;
            justify-content: space-between;

            @include respond(1280px) {
                height: 600px;
                justify-content: flex-end;
            }

            @include respond(tablet) {
                padding-top: 24px;
                padding-bottom: 24px;
            }
        }

        &__video {
            position: relative;
            height: 456px;
            flex: 0 0 65%;

            @include respond(1280px) {
                position: absolute;
                width: 500px;
                height: 300px;
                left: 40%;
                transform: translateX(-50%);
            }

            @include respond(1000px) {
                left: 30%;
                width: 335px;
                height: 215px;
            }

            @include respond(tablet) {
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            &-file {
                position: absolute;
                z-index: 50;
                height: 100%;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            &-btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                z-index: 99;
                height: 36.7%;
                width: 24%;
            }
        }

        &__text {
            flex: 0 0 34%;
            z-index: 99;

            @include respond(mobile) {
                flex: 0 0 60%;
            }

            & span {
                display: block;
                margin-bottom: 8px;
                color: $white;
                letter-spacing: 3px;
                white-space: nowrap;
            
                @include respond(tablet) {
                    letter-spacing: 2px;
                }
            }

            & h1 {
                white-space: nowrap;

                @include respond(tablet) {
                    font-size: 32px;
                    line-height: 40px;
                    margin-top: 270px;
                }

                & span {
                    &:nth-of-type(1) {
                        color: $white;
            
                        @include respond(1290px) {
                            text-align: left;
                        }
                    }

                    &:nth-of-type(2) {
                        color: $lemon;
                        text-align: center;
                    }
                }
            }

            & p {
                color: $white;
            
                @include respond(1290px) {
                    
                }

                @include respond(tablet) {
                    
                }

                @include respond(mobile) {
                    
                }
            }
        }

        &__controls {
            position: absolute;
            right: 20px;
            align-self: flex-end;
            
            @include respond(1290px) {
                text-align: right;
            }

        }
    }
}

.viber {
    &-main {
        width: 100%;

        & > div {
            max-width: 952px;
            margin: 40px auto 73px auto;

            @include respond(tablet) {
                max-width: 100%;
                padding: 0 24px;
            }
    
            @include respond(mobile) {
                padding: 0 12px;
            }

            & > h3 {
                font-weight: bold;
                font-size: 24px;
                line-height: 32px;
                text-align: center;
                letter-spacing: 1.6px;
                text-transform: uppercase;
                margin-bottom: 8px;
                color: #000;

                &:nth-of-type(1) {
                    @include respond(mobile) {
                        display: none;
                    }
                }

                &:nth-of-type(2) {
                    display: none;
                    @include respond(mobile) {
                        display: block;
                    }
                }
            }
    
            & > p {
                color: #000;
                text-align: center;
                margin-bottom: 32px;

                @include respond(mobile) {
                    text-align: center;
                    width: 80%;
                }
            }

            & > .search-box {
                margin-bottom: 32px;

                @include respond(mobile) {
                    margin-bottom: 42px;
                }
            }
        }

        .location--two-tbl {
            display: flex;
            justify-content: space-between;

            @include respond(tablet) {
                flex-direction: column;
            }
        }

        &__location {
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 253px;
            margin-bottom: 32px;

            @include respond(mobile){
                margin-bottom: 0;
            }

            &--small {
                width: 460px;
                min-height: 199px;
                display: inline-block;

                @include respond(tablet) {
                    display: block;
                    width: 100%;
                }

                & > .viber-main__location-content {
                    & > ul {
                        min-height: 82px;
                        column-fill: auto;
                        column-count: 3;
                        column-gap: 32px;

                        @include respond(mobile) {
                            column-count: 2;
                        }
                    }
                }
            }

            &.active {
                & > .viber-main__location-header {
                    & > img {
                        transform: rotate(180deg);
                    }
                }
            }

            &:not(.active) {
                @include respond(mobile) {
                    min-height: min-content;
                    
                    & > .viber-main__location-content {
                        display: none;
                    }
                }
            }
            
            &-header {
                background-color: $silver;
                height: 53px;
                width: 100%;
                display: flex;
                align-items: center;
                padding: 0 24px;
                justify-content: space-between;

                @include respond(mobile) {
                    height: 60px;
                    padding: 0 19px;
                }

                & > p {
                    color: $black;
                }

                & > img {
                    display: none;

                    @include respond(mobile) {
                        display: block;
                    }
                }
            }

            &-content {
                padding: 32px 24px;

                @include respond(mobile) {
                    padding: 24px 32px;
                }

                & > ul {
                    min-height: 158px;
                    column-fill: auto;
                    column-count: 6;
                    column-gap: 32px;

                    @include respond(tablet) {
                        column-count: 4;
                    }

                    @include respond(mobile) {
                        column-count: 2;
                    }

                    & > li {
                        color: $black;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 22px;
                        margin-bottom: 16px;

                        @include respond(mobile) {
                            margin-bottom: 24px;
                        }
                    }
                }
            }
        }
        
    }
}

.search-box {
    display: flex;
    height: 64px;
    width: 100%;
    box-shadow: 0px 5px 7px rgba(231, 234, 244, 0.35);
    padding: 21px 16px;
    align-items: center;

    & > img {
        height: 22px;
        width: 22px;
        margin-right: 16px;
    }

    & > input {
        display: block;
        height: 24px;
        width: 100%;
        border: none;
        padding: 0;
        font-size: 16px;
        line-height: 24px;
        color: $dark-gray;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $dark-gray;
            font-size: 16px;
            line-height: 24px;
            font-style: italic;
        }
    }
}