.contacts {
    &__intro {
        padding-top: 40px;
        padding-bottom: 40px;

        & > p {
            margin-top: 8px;
            color: #000;

            & > a {
                color: #000;
                font-weight: bold;
                text-decoration: none;
            }

            &:nth-of-type(1) {
                @include respond(tablet) {
                    margin-bottom: 32px;
                }
            }

            &:nth-of-type(2) {
                display: none;

                @include respond(tablet) {
                    display: block;
                    margin-bottom: 16px;
                }
            }
        }

        & > h4 {
            display: none;
            text-transform: uppercase;

            @include respond(tablet) {
                display: block;
            }
        }

        & > button {
            display: none;
            width: 189px;
            height: 56px;
            background-color: $white;
            border: 1px solid $mid-gray;
            box-sizing: border-box;
            box-shadow: 0px 5px 5px rgba(231, 234, 244, 0.35);
            color: #007FFF;
            font-weight: 600;
            line-height: 24px;
            font-size: 16px;
            
            & > img {
                vertical-align: middle;
            }

            @include respond(tablet) {
                display: block;
            }
        }
    }
    
    &__form {
        padding-bottom: 40px;

        & > p {
            margin-top: 8px;
            color: #000;
        }

        & button {
            color: $black;
            border: 1px solid $black;

            &:hover {
                color: $white;
                background-color: $black;
            }
        }
    }

    &-alt {
        width: 100%;

        & > div {
            min-height: 408px;
            padding: 60px 88px;
            position: relative;
            max-width: 1400px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
                
            @include respond(tablet) {
                max-width: 100%;
                padding: 37px 24px;
            }
                
            @include respond(mobile) {
                padding: 37px 17px;
            }

            & > p {
                text-align: center;
            }
        }

        &__header {
            display: flex;
            justify-content: center;
            margin-bottom: 32px;
            align-items: center;
                
            @include respond(tablet) {
                margin-bottom: 24px;
            }

            & > h2 {
                color: $dark-gray;

                @include respond(mobile) {
                    font-size: 20px;
                }
            }
        }

        &__listing {
            display: flex;
            margin-bottom: 32px;

            @include respond(tablet) {
                flex-direction: column;
                margin-bottom: 0px;
            }

            & > div {
                display: flex;
                flex-direction: column;
                flex-basis: 33.33%;
                align-items: center;
                
                @include respond(tablet) {
                    padding: 32px 0;
                }

                &:not(:nth-of-type(3)) {
                    border-right: 1px solid #E0E0E0;   

                    @include respond(tablet) {
                        border-right: none;
                        border-bottom: 1px solid #E0E0E0;  
                    } 
                }

                & > span {
                    color: $dark-gray;
                    margin-bottom: 32px;
                    text-align: center;

                    & > img {
                        vertical-align: middle;
                        margin-right: 12px;
                    }
                }

                & > a {
                    color: $dark-gray;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 22px;
                }

                &:not(:nth-of-type(3)) {
                    & > a {
                        text-transform: lowercase;
                    }
                }
            }
        }
    }

    &-social-media {
        background-color: $lilac;
        width: 100%;

        & > div {
            min-height: 194px;
            padding: 60px 88px;
            position: relative;
            max-width: 1400px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
                
            @include respond(tablet) {
                max-width: 100%;
                padding: 37px 24px;
            }
                
            @include respond(mobile) {
                padding: 37px 19px;
            }
        }

        
        &__header {
            display: flex;
            margin-bottom: 15px;
            justify-content: center;

            & > h3 {
                color: $black;

                @include respond(mobile) {
                    font-size: 20px;
                }
            }
        }

        &__content {
            display: flex;
            width: 766.32px;
            flex-wrap: wrap;
            justify-content: space-between;

            @include respond(tablet) {
                width: 100%;
                // width: 54.73%;
            }

            & > span {
                white-space: nowrap;
                flex-basis: 175.32px;
                
                @include respond(tablet) {
                    margin-bottom: 24px;
                }

                @include respond(mobile) {
                    flex-basis: 140px;
                }

                & > img {
                    margin-right: 11px;
                    vertical-align: middle;
                }
            }
        }
    }
}