.events {

    &__filter {
        position: relative;
        min-height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--category {
            display: flex;
            flex: 0 0 50%;
            justify-content: center;

            @include respond(tablet) {
                justify-content: flex-start;
            }

            & span {
                margin-right: 40px;
                white-space: nowrap;
                cursor: pointer;

                &.active {
                    font-weight: bold;
                }
            }
        }

        &--location {
            display: flex;
            flex: 0 0 50%;
            justify-content: flex-end;

            & span {
                letter-spacing: 3px;
                margin-right: 17px;
                white-space: nowrap;
            }

            & img {
                margin-right: 17px;
            }
        }
    }

    &-fl {
        & .container-colored {
            & > h1 {
                letter-spacing: 4px;

                @include respond(tablet) {
                    font-size: 50px;
                }

                @include respond(mobile) {
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 1.6px;
                }

                & > .container-colored__h1--block {
                    margin-left: 120px;

                    @include respond(tablet) {
                        margin-left: 0px;
                    }
                }
            }
        }

        & .get-direction-text {
            position: absolute;
            right: 0;
            text-decoration: none;
            color: $dark-gray;

            @include respond(tablet) {
                position: relative;
                margin: 16px 0 0 24px;
            }
        }

        & .btn--primary {
            color: $black;
            border: 1px solid $black;

            &:hover {
                color: $white;
                background-color: $black;
            }
        }

        & ol {
            margin-top: 16px;
            margin-left: 20px;

            & > li {
                font-family: Open Sans;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: black;
                margin-bottom: 16px;
            }
        }

        &-note {
            margin-top: 40px;
            min-height: 142px;
            width: 100%;
            background-color: $seafoam;
            display: flex;
            padding: 24px;
            align-items: flex-start;

            & > img {
                
                @include respond(tablet) {
                    height: 35px;
                }
            }

            & > div {
                margin-left: 24px;
                
                @include respond(tablet) {
                    margin-left: 16px;
                }

                & > p {
                    color: $black;
                }

                & > p:nth-of-type(2) {
                    font-weight: normal;
                }
            }
        }

        &-map {
            margin-top: 40px;
            height: 354px;
            width: 100%;
            
            & > img {
                height: 100%;
                width: 100%;
            }
        }

        

        &__details {
            display: flex;
            flex-direction: column;
            position: relative;
        }
    }

    &-k {
        & .container-colored {
            & > h1 {
                letter-spacing: 4px;

                @include respond(tablet) {
                    font-size: 50px;
                }

                @include respond(mobile) {
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 1.6px;
                }
            }
        }

        & .btn--primary {
            color: $black;
            border: 1px solid $black;

            &:hover {
                color: $white;
                background-color: $black;
            }
        }

        & ol {
            margin-top: 16px;
            margin-left: 20px;

            & > li {
                font-family: Open Sans;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: black;
                margin-bottom: 16px;
            }
        }

        & .get-direction-text {
            position: absolute;
            right: 0;
            text-decoration: none;
            color: $dark-gray;

            @include respond(tablet) {
                position: relative;
                margin: 16px 0 0 24px;
            }
        }

        &-note {
            margin-top: 40px;
            min-height: 142px;
            width: 100%;
            background-color: $seafoam;
            display: flex;
            padding: 24px;
            align-items: flex-start;

            & > div {
                margin-left: 24px;

                & > p {
                    color: $black;
                }

                & > p:nth-of-type(2) {
                    font-weight: normal;
                }
            }
        }

        &-map {
            margin-top: 40px;
            height: 354px;
            width: 100%;
            
            & > img {
                height: 100%;
                width: 100%;
            }
        }

        & > .normal-text {
            margin-top: 16px;
        }
        

        &__details {
            display: flex;
            flex-direction: column;
            position: relative;
        }
    }


    &__datetime {
        display: flex;
        align-items: flex-start;

        & > img {
            vertical-align: middle;
        }

        & > span {
            margin-left: 4px;
            vertical-align: middle;
            color: $freshmint;
            letter-spacing: 4px;

            @include respond(tablet) {
                font-size: 16px;
            }
        }
    }

    &__venue {
        display: flex;
        align-items: flex-start;
        margin-top: 16px;

        & > div {
            margin-left: 4px;

            & > p {
                font-family: $font-base;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}