// HEADER MIXIN
@mixin headerBG {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 290px;
    content: '';
}

.gift {
    
    &-header {
        position: relative;
        min-height: 348px;
        margin-bottom: 56px;
        width: 100%;
        padding-top: 44px;

        @include respond(1180px) {
            
        }

        @include respond(mobile) {
            margin-bottom: 32px;
            padding: 24px 12px 0 12px;
        }

        &--registry {
            &:before {
                @include headerBG;
                background-color: $pacific;
            }

            & > div {
                background-color: $blush;
            }
        }

        &--card {
            &:before {
                @include headerBG;
                background-color: $seafoam;
            }

            & > div {
                background-color: $cream;
            }
        }

        &--wrapping {
            &:before {
                @include headerBG;
                background-color: $bee;
            }
            
            & > div {
                background-color: $white;
            }
        }

        & > div {
            min-height: 304px;
            max-width: 1225px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 46px 0 132px;

            @include respond(1275px) {
                padding: 0 3.75%;
            }

            @include respond(1180px) {
                flex-direction: column;
                padding: 32px;
            }

            @include respond(mobile) {
                top: 0;
                position: relative;
                width: 100%;
            }

            & > img {
                @include respond(1180px) {
                    margin-bottom: 46px;
                }
                
                @include respond(mobile) {
                    height: 75px;
                    width: 178px;
                }
            }
        }

        &__text {

            & > h3 {
                margin-bottom: 3px;

                @include respond(1180px) {
                    margin-bottom: 16px;
                    text-align: center;
                }

                &:nth-of-type(1) {
                    @include respond(mobile) {
                        display: none;
                    }
                }

                &:nth-of-type(2) {
                    display: none;
                    color: $coral;
                    @include respond(mobile) {
                        display: block;
                    }
                }
            }

            & > ul {
                & > li {
                    display: flex;
                    margin-bottom: 8px;
                    align-items: flex-start;

                    & > img {
                        margin-right: 11px;  
                    }
                }
            }

            @include respond(1180px) {

            }
        }
    }

    &-registry {
        width: 100%;

        & > div {
            position: relative;
            width: 1400px;
            min-height: 537px;
            display: flex;
            margin: 0 auto;

            @include respond(1260px) {
                flex-direction: column;
                width: min-content;
                align-items: center;
            }
        }

        &__img {
            z-index: 50;
            margin-left: 87px;
            height: 497px;
            width: 624px;

            @include respond(714px) {
                margin-left: 13px;
                width: 348px;
                height: 400px;
            }
        }
        
        &__bg {
            background-color: #FDBFCE;
            height: 494px;
            width: 607px;
            position: absolute;
            top: 43px;
            left: 0;

            @include respond(714px) {
                width: 347px;
                height: 416px;
                top: 32px;
            }
        }

        &__text {
            min-height: 424px;
            width: 496px;
            margin-left: 80px;
            margin-top: 53px;

            @include respond(1260px) {
                width: 100%;
                margin-top: 80px;
                margin-left: 0px;
            }

            @include respond(714px) {
                padding: 0 12px;
            }

            & > h1 {
                margin-left: -44px;
                font-weight: bold;
                font-size: 48px;
                line-height: 58px;
                letter-spacing: 1.6px;
                width: 511px;
                margin-bottom: 20px;

                @include respond(1260px) {
                    width: 100%;
                    text-align: center;
                    margin-left: 0px;
                }

                @include respond(714px) {
                    font-size: 24px;
                    line-height: 32px;
                }

                & > span {
                    display: block;

                    &:nth-of-type(2) {
                        color: $pink;
                        text-align: right;

                        @include respond(1260px) {
                            text-align: center;
                        }
                    }
                }
            }

            & > p {
                margin-bottom: 32px;
            }
        }
    }

    &-mid-banner {
        padding: 64px 0;
        width: 100%;

        @include respond(mobile) {
            display: none;
        }

        & > div {
            max-width: 1014px;
            background-color: $blush;
            min-height: 200px;
            margin: 0 auto;
            padding: 64px 103px;
        }
    }

    &-video {
        width: 100%;
        background-color: $pacific;

        & > div {
            max-width: 1400px;
            min-height: 568px;
            margin: 0 auto;
            position: relative;
        }

        &__content {
            min-height: 446px;
            width: 688.54px;
            background-color: $light-periwinkle;
            padding: 70px 83px;
            display: flex;
            flex-direction: column;

            @include respond(tablet) {
                width: 90%;
            }

            @include respond(mobile) {
                padding: 24px;
            }

            & > ul {
                width: 380px;

                @include respond(mobile) {
                    width: 282px;
                }

                & > li {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    min-height: 86px;
                    border-left: $coral 4px solid;
                    margin-bottom: 24px;
                    padding-left: 24px;

                    & > h4 {
                        white-space: nowrap;
                        color: #4495C0;

                        @include respond(tablet) {
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0;
                        }
                    }
                }
            }
        }

        &__file {
            position: absolute;
            top: 48px;
            right: 87px;
            height: 456px;
            width: 808px;

            @include respond(1360px) {
                height: 300px;
                width: 500px;
                right: 32px;
            }

            @include respond(tablet) {
                position: relative;
                top: -46px;
                right: auto;
                left: 50%;
                transform: translateX(-50%);
            }

            @include respond(mobile) {
                height: 189.62px;
                width: 336px;
            }
        }
    }

    &-available {
        width: 100%;

        @include respond(tablet) {
            padding: 0 32px;
        }

        @include respond(tablet) {
            padding: 0 16px;
        }

        & > div {
            position: relative;
            max-width: 1225px;
            height: 433px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            padding: 80px 0 90px 0;

            @include respond(tablet) {
                padding: 32px 0 44px 0;
                height: 356px;
            }

            & > h2 {
                text-align: center;

                @include respond(tablet) {
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 30px;
                    letter-spacing: 1.6px;
                }
            }
        }


        &__registry {
            width: 1225px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            & > div {
                display: flex;
                align-items: center;
                position: relative;
                margin-top: 24px;
                width: 288px;
                height: 88px;

                @include respond(tablet) {
                    margin-top: 16px;
                }

                & > img {
                    width: 288px;
                    height: 88px;
                }

                & > h3 {
                    position: absolute; 
                    left: 16px;
                    width: 180px;
                    color: $white;                    
                }
            }
        }

        &__controls {
            display: none;
            align-self: flex-end;
            margin-top: 24px;

            @include respond(tablet) {
                display: block;
            }
        }
    }

    &-support {
        width: 100%;
        background-color: $light-periwinkle;

        & > div {
            height: 240px;
            max-width: 651px;
            padding: 48px 0;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include respond(tablet) {
                height: 350px;
                padding: 87px 0;
            }

            & > h3 {
                text-align: center;
                margin-bottom: 16px;

                @include respond(mobile) {
                    width: 173px;
                }
            }

            & > p {
                text-align: center;
                color: $dark-gray;
                margin-bottom: 16px;

                &:nth-of-type(1) {
                    @include respond(mobile) {
                        display: none;
                    }
                }

                &:nth-of-type(2) {
                    display: none;

                    @include respond(mobile) {
                        display: block;
                    }
                }

                & > span {
                    font-weight: bold;
                }

                & > a {
                    text-decoration: none;
                    font-weight: bold;
                    color: $dark-gray;
                }
            }

            & > a {
                margin: 0 auto;
                

                &:nth-of-type(1) {
                    width: 275px;
                    @include respond(mobile) {
                        display: none;
                    }
                }

                &:nth-of-type(2) {
                    display: none;
                    width: 205px;

                    @include respond(mobile) {
                        display: block;
                    }
                }
            }
        }
    }

}