// HEADER MIXIN
@mixin headerBG {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 290px;
    content: '';
}

.gift {
    
    &-header {
        position: relative;
        min-height: 348px;
        margin-bottom: 56px;
        width: 100%;
        padding-top: 44px;

        @include respond(1180px) {
            
        }

        @include respond(mobile) {
            margin-bottom: 32px;
            padding: 24px 12px 0 12px;
        }

        &--registry {
            &:before {
                @include headerBG;
                background-color: $pacific;
            }

            & > div {
                background-color: $blush;

                & > .gift-header__text {
                    & > h3 {
                        &:nth-of-type(1) {
                            color: #4495C0;
                        }
                        &:nth-of-type(2) {
                            color: $coral;
                        }
                    }
                }
            }
        }

        &--card {
            &:before {
                @include headerBG;
                background-color: $seafoam;
            }

            & > div {
                background-color: $cream;

                & > .gift-header__text {
                    & > h3 {
                        color: $teal;
                    }
                }
            }
        }

        &--wrapping {
            &:before {
                @include headerBG;
                background-color: $bee;
            }
            
            & > div {
                background-color: $white;

                & > h3 {
                    &:nth-of-type(1) {
                        color: #DEAF3B;
                    }
                    &:nth-of-type(2) {
                        color: $coral;
                    }
                }
            }
        }

        & > div {
            min-height: 304px;
            max-width: 1225px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 46px 0 132px;

            @include respond(1275px) {
                padding: 0 3.75%;
            }

            @include respond(1180px) {
                flex-direction: column;
                padding: 32px;
            }

            @include respond(mobile) {
                top: 0;
                position: relative;
                width: 100%;
            }

            & > img {
                @include respond(1180px) {
                    margin-bottom: 46px;
                }
                
                @include respond(mobile) {
                    height: 75px;
                    width: 178px;
                }
            }
        }

        &__text {

            & > h3 {
                margin-bottom: 3px;

                @include respond(1180px) {
                    margin-bottom: 16px;
                    text-align: center;
                }

                &:nth-of-type(1) {
                    @include respond(mobile) {
                        display: none;
                    }
                }

                &:nth-of-type(2) {
                    display: none;
                    @include respond(mobile) {
                        display: block;
                    }
                }
            }

            & > ul {
                & > li {
                    display: flex;
                    margin-bottom: 8px;
                    align-items: flex-start;

                    & > img {
                        margin-right: 11px;  
                    }
                }
            }

            @include respond(1180px) {

            }
        }
    }

    &-registry {
        width: 100%;

        & > div {
            position: relative;
            width: 1400px;
            min-height: 537px;
            display: flex;
            margin: 0 auto;

            @include respond(1260px) {
                flex-direction: column;
                width: min-content;
                align-items: center;
            }
        }

        &__img {
            z-index: 50;
            margin-left: 87px;
            height: 497px;
            width: 624px;

            @include respond(714px) {
                margin-left: 13px;
                width: 348px;
                height: 400px;
            }
        }
        
        &__bg {
            background-color: #FDBFCE;
            height: 494px;
            width: 607px;
            position: absolute;
            top: 43px;
            left: 0;

            @include respond(714px) {
                width: 347px;
                height: 416px;
                top: 32px;
            }
        }

        &__text {
            min-height: 424px;
            width: 496px;
            margin-left: 80px;
            margin-top: 53px;

            @include respond(1260px) {
                width: 100%;
                margin-top: 80px;
                margin-left: 0px;
            }

            @include respond(714px) {
                padding: 0 12px;
            }

            & > h1 {
                margin-left: -44px;
                font-weight: bold;
                font-size: 48px;
                line-height: 58px;
                letter-spacing: 1.6px;
                width: 511px;
                margin-bottom: 20px;

                @include respond(1260px) {
                    width: 100%;
                    text-align: center;
                    margin-left: 0px;
                }

                @include respond(714px) {
                    font-size: 24px;
                    line-height: 32px;
                }

                & > span {
                    display: block;

                    &:nth-of-type(2) {
                        color: $pink;
                        text-align: right;

                        @include respond(1260px) {
                            text-align: center;
                        }
                    }
                }
            }

            & > p {
                margin-bottom: 32px;
            }
        }
    }

    &-mid-banner {
        padding: 64px 0;
        width: 100%;

        @include respond(mobile) {
            display: none;
        }

        & > div {
            max-width: 1014px;
            background-color: $blush;
            min-height: 200px;
            margin: 0 auto;
            padding: 64px 103px;
        }
    }

    &-video {
        width: 100%;
        background-color: $pacific;

        & > div {
            max-width: 1400px;
            min-height: 568px;
            margin: 0 auto;
            position: relative;
        }

        &__content {
            min-height: 446px;
            width: 688.54px;
            background-color: $light-periwinkle;
            padding: 70px 83px;
            display: flex;
            flex-direction: column;

            @include respond(tablet) {
                width: 90%;
            }

            @include respond(mobile) {
                padding: 24px;
            }

            & > ul {
                width: 380px;

                @include respond(mobile) {
                    width: 282px;
                }

                & > li {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    min-height: 86px;
                    border-left: $coral 4px solid;
                    margin-bottom: 24px;
                    padding-left: 24px;

                    & > h4 {
                        white-space: nowrap;
                        color: #4495C0;

                        @include respond(tablet) {
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0;
                        }
                    }
                }
            }
        }

        &__file {
            position: absolute;
            top: 48px;
            right: 87px;
            height: 456px;
            width: 808px;

            @include respond(1360px) {
                height: 300px;
                width: 500px;
                right: 32px;
            }

            @include respond(tablet) {
                position: relative;
                top: -46px;
                right: auto;
                left: 50%;
                transform: translateX(-50%);
            }

            @include respond(mobile) {
                height: 189.62px;
                width: 336px;
            }
        }
    }

    &-available {
        width: 100%;

        @include respond(tablet) {
            padding: 0 32px;
        }

        @include respond(tablet) {
            padding: 0 16px;
        }

        & > div {
            position: relative;
            max-width: 1225px;
            height: 433px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            padding: 80px 0 90px 0;

            @include respond(tablet) {
                padding: 32px 0 44px 0;
                height: 356px;
            }

            & > h2 {
                text-align: center;

                @include respond(tablet) {
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 30px;
                    letter-spacing: 1.6px;
                }
            }
        }


        &__registry {
            width: 1225px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            & > div {
                display: flex;
                align-items: center;
                position: relative;
                margin-top: 24px;
                width: 288px;
                height: 88px;

                @include respond(tablet) {
                    margin-top: 16px;
                }

                & > img {
                    width: 288px;
                    height: 88px;
                }

                & > h3 {
                    position: absolute; 
                    left: 16px;
                    width: 180px;
                    color: $white;                    
                }
            }
        }

        &__controls {
            display: none;
            align-self: flex-end;
            margin-top: 24px;

            @include respond(tablet) {
                display: block;
            }
        }
    }

    &-card {
        &__denomination {
            width: 100%;
            position: relative;
        }

        &__content {
            min-height: 604px;
            width: 1016px;
            padding: 12px 0 51.97px 0;
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            @include respond(tablet) {
                min-height: 416px;
                padding: 12px 0px 51.97px 24px;
            }

            @include respond(mobile) {
                padding: 0 0px 51.97px 12px;
            }

            & > h2 {
                color: $black;
                margin-bottom: 24px;
                text-align: center;

                @include respond(tablet) {
                    text-align: left;
                }

                @include respond(mobile) {
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 18px;
                }
            }

            & > p {
                text-transform: uppercase;
                margin-bottom: 24px;
                text-align: center;

                @include respond(tablet) {
                    text-align: left;
                }

                @include respond(mobile) {
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 30px;
                    color: $black;
                    margin-bottom: 16px;
                }
            }
        }

        &__cards {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 32px;
            // margin-left: -744px ;

            @include respond(tablet) {
                justify-content: flex-start;
                margin-bottom: 20px;
            }

            & > div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 248.85px;

                @include respond(tablet) {
                    justify-content: space-between;
                    margin-right: 16px;
                    height: 184px;
                }

                & > img {
                    @include respond(tablet) {
                        width: 232px;
                        height: 148px;
                    }
                }

                & > h3 {
                    color: $dark-gray;
                }
            }
        }

        &__sleeves {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-left: 0px;
            transition: 0.4s;

            @include respond(tablet) {
                justify-content: flex-start;
            }

            & > img {
                @include respond(tablet) {
                    width: 153.22px;
                    height: 99.06px;
                    margin-right: 24px;
                }
            }
        }

        &__buy {
            width: 100%;
            background-color: $light-gray;
            position: relative;
            
            &-content {
                width: 1400px;
                min-height: 428px;
                margin: 0 auto;
                display: flex;
                padding: 52px 0 52px 185px;
                align-items: center;

                @include respond(tablet) {
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 52px 0 52px 32px;
                }

                @include respond(mobile) {
                    padding: 24px 0 24px 12px;
                }
            }

            &-text {
                height: 148px;
                width: 359px;
                margin-right: 64px;

                @include respond(tablet) {
                    margin-bottom: 29px;
                }

                & > h2 {
                    @include respond(mobile) {
                        font-size: 20px;
                        line-height: 30px;
                    }
                }

                & > p {
                    color: $black;
                    margin-bottom: 31px;
                }

                & > span {
                    color: $dark-gray;

                    & > img {
                        vertical-align: middle;
                    }

                    & > a {
                        color: $dark-gray;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }

            &-cards {
                height: 324px;
                width: 600px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                @include respond(mobile) {
                    justify-content: flex-start;
                    height: 248px;
                }

                & > img {
                    height: 150px;
                    width: 288px;
                    margin-bottom: 24px;
                    box-shadow: 0px 5px 15px rgba(189, 193, 202, 0.3);

                    @include respond(mobile) {
                        height: 114.81px;
                        width: 230.4px;
                        margin: 0 18px 18px 0;
                    }
                }
            }
        }

        &__use {
            width: 100%;
            position: relative;

            &-filter {
                position: absolute;
                top: 64px;
                display: flex;
                justify-content: space-between;
                left: 608px;
                width: 462px;

                @include respond(tablet) {
                    position: relative;
                    top: 0;
                    left: 0;
                    order: 2;
                }
                
                & > .blog-filter-m {
                    display: none;
                    margin-left: 0;

                    @include respond(mobile) {
                        display: flex;
                    }
                }


                & > span {
                    color: $gray;

                    @include respond(mobile) {
                        display: none;
                    }

                    &.active {
                        color: $black;
                        font-weight: bold;
                    }
                }
            }
            
            &-content {
                width: 1400px;
                min-height: 524px;
                margin: 0 auto;
                display: flex;
                padding: 64px 0 68px 185px;
                align-items: center;
                position: relative;

                @include respond(tablet) {
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 52px 0 52px 32px;
                }

                @include respond(mobile) {
                    min-height: 430px;
                    padding: 32px 0 0px 12px;
                }
            }

            &-text {
                height: 148px;
                width: 359px;
                margin-right: 64px;
                margin-top: 31px;

                @include respond(tablet) {
                    margin-bottom: 8px;
                    margin-top: 0px;
                    height: 86px;
                    order: 1;
                }

                & > h2 {
                    @include respond(mobile) {
                        font-size: 20px;
                        line-height: 30px;
                    }
                }

                & > p {
                    color: $black;
                    margin-bottom: 31px;

                    @include respond(tablet) {
                        margin-bottom: 8px;
                    }
                }

                & > span {
                    color: $dark-gray;

                    & > img {
                        vertical-align: middle;
                    }

                    & > a {
                        color: $dark-gray;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }

            &-cards {
                height: 324px;
                width: 600px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 31px;

                @include respond(tablet) {
                    order: 3;
                }

                @include respond(mobile) {
                    justify-content: flex-start;
                    height: 248px;
                }

                & > img {
                    height: 150px;
                    width: 288px;
                    margin-bottom: 24px;
                    box-shadow: 0px 5px 15px rgba(189, 193, 202, 0.3);

                    @include respond(mobile) {
                        height: 114.81px;
                        width: 230.4px;
                        margin: 0 18px 18px 0;
                    }
                }
            }
        }


        &__balance {
            width: 100%;
            position: relative;
            padding: 64px 32px;

            @include respond(mobile) {
                padding: 32px 12px;
            }

            & > div {
                max-width: 1225px;
                height: 370px;
                margin: 0 auto;
                background-color: $seafoam;
                padding: 32px 16px;
                display: flex;
                flex-direction: column;
                align-items: center;

                @include respond(tablet) {
                    height: 440px;
                }

                & > img {
                    margin: 8px 0 24px 0;
                }

                & > h3 {
                    margin-bottom: 16px;
                }
        
                & > p {
                    margin-bottom: 24px;
                    font-style: italic;
                    color: #000;
                }
            }
        }

        &__input-group {
            width: 450px;
            height: 68px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 16px;

            @include respond(mobile) {
                width: 100%;
            }

            & > label {
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                text-transform: capitalize;
                color: $black;
            }

            & > input {
                border: 1px solid #88898F;
                box-sizing: border-box;
                background-color: $white;

                &::placeholder {
                    font-style: italic;
                    font-size: 16px;
                    line-height: 24px;
                    color: $gray;
                }
            }
        }
    }


    &-support {
        width: 100%;
        background-color: $lilac;

        & > div {
            height: 240px;
            max-width: 651px;
            padding: 48px 0;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include respond(tablet) {
                height: 350px;
                padding: 87px 0;
            }

            & > h3 {
                text-align: center;
                margin-bottom: 16px;

                @include respond(mobile) {
                    width: 173px;
                }
            }

            & > p {
                text-align: center;
                color: $dark-gray;
                margin-bottom: 16px;

                &:nth-of-type(1) {
                    @include respond(mobile) {
                        display: none;
                    }
                }

                &:nth-of-type(2) {
                    display: none;

                    @include respond(mobile) {
                        display: block;
                    }
                }

                & > span {
                    font-weight: bold;
                }

                & > a {
                    text-decoration: none;
                    font-weight: bold;
                    color: $dark-gray;
                }
            }

            & > a {
                margin: 0 auto;
                

                &:nth-of-type(1) {
                    width: 275px;
                    @include respond(mobile) {
                        display: none;
                    }
                }

                &:nth-of-type(2) {
                    display: none;
                    width: 205px;

                    @include respond(mobile) {
                        display: block;
                    }
                }
            }
        }
    }


    &__controls {
        height: 39.76px;
        display: none;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 10px;

        &--denom {
            position: absolute;
            bottom: 85px;
        }

        &--buy {
            position: absolute;
            bottom: 130px;
        }

        &--use {
            position: absolute;
            bottom: 106px;
        }

        @include respond(mobile) {
            display: flex;
        }

        &--right,
        &--left {
            border-radius: 20px;
            height: 39.76px;
            width: 39.76px;
            background-color: #fff;
            border: 1px solid #E0E0E0;
            box-sizing: border-box;
            background-repeat: no-repeat;
            background-size: 15.9px 7.95px;
            background-position: center center;
        }

        &--right {
            background-image: url('../../assets/images/icons/control-right.svg');
        }

        &--left {
            background-image: url('../../assets/images/icons/control-left.svg');
            visibility: hidden;
        }
    }
}