.featured {

    &-blog {
        position: relative;
        height: 732px;
        margin-top: 76px;

        &__title {
            text-align: center;
            color: $dark-gray;
        }

        &__subtitle {
            text-align: center;
            letter-spacing: 3px;
            color: $dark-gray;
            margin-bottom: 48px;

            @include respond(1170px) {
                margin-bottom: 24px;
            }

            @include respond(mobile) {
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 1.6px;
                text-transform: uppercase;
                font-weight: normal;
                width: 100%;
            }
        }

        &__btn {
            position: absolute;
            right: 0;
            top: 0px;
            color: $black;

            @include respond(1300px) {
                position: relative;
                display: block;
                width: min-content;
                text-align: center;
                margin: 0 auto 40px auto;
            }
        }

        &__cards {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @include respond(1300px) {
                justify-content: center;
                // margin: 0 auto;
            }

            @include respond(mobile) {
                // justify-content: space-between;
            }
        }

        &__card {
            height: 556px;
            width: 288px;
            position: relative;
            // display: inline-block;

            @include respond(1300px) {
                height: 388px !important;
                width: 160px !important;
                margin: 0 12px;
            }

            @include respond(mobile) {
                margin: 0 8px;
            }

            &:nth-of-type(1) {
                margin-top: -112px;

                @include respond(1300px) {
                    margin-top: 0;
                }
            }

            &:nth-of-type(2) {
                @include respond(1300px) {
                    margin-top: 24px;
                }
            }

            &:nth-of-type(3) {

                @include respond(1300px) {
                    
                }
            }

            &:nth-of-type(4) {
                margin-top: -56px;

                @include respond(1300px) {
                    margin-top: 24px;
                }
            }

            & img {
                @include respond(1300px) {
                    height: 244px;
                    width: 100%;
                }
            }

            &--category {
                color: $gray;
                display: block;
            }

            &--title {
                color: $dark-gray;
            }

            &--btn {
                display: block;
                color: $black;
                margin-top: 24px;
            }
        }
    }

    &-video {
        position: relative;
        height: 732px;
        margin-top: 80px;
        background-color: #FFF9EE;
        
        @include respond(tablet) {
            margin-top: 300px;
        }
        
        @include respond(mobile) {
            height: 527px;
            margin-top: 350px;
        }

        &__bg {
            background-color: $bee;
            width: 49.18%;
            height: 75%;
            position: absolute;
            right: 0;
            z-index: 50;

            @include respond(tablet) {
                height: 88.23%;
            }

            @include respond(mobile) {
                width: 77%;
            }
        }

        &__content {
            position: relative;
            display: flex;
            z-index: 99;
            justify-content: space-between;
            // align-items: center;

            @include respond(tablet) {
                height: 100%;
                display: block;
            }
        }

        &__video {
            order: 1;
            flex-basis: 66%;
            margin-top: 48px;
            
            @include respond(tablet) {
                display: block;
                position: relative;
                height: 100%;
                margin: 0 auto;
            }
            
            &-file {
            
                @include respond(tablet) {
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    width: 90%;
                    transform: translate(-50%,-50%);
                }
            }
            
            &-btn {
                cursor: pointer;
            
                @include respond(tablet) {
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    transform: translate(-50%,-50%); 
                    z-index: 120;
                }
            
                @include respond(mobile) {
                    height: 78px;
                }
            }
        }

        &__text {
            order: 2;
            flex-basis: 32%;
            margin-top: 87px;
            z-index: 99;
            
            @include respond(tablet) {
                position: absolute;
                margin-top: 0;
                height: 100%;
                width: 100%;
            }

            & span {
                display: block;
                margin-bottom: 8px;
                color: $dark-gray;
            
                @include respond(tablet) {
                    position: absolute;
                    top: 24px;
                    right: 0;
                }
            }

            & h1:nth-of-type(1) {
                color: $white;
            
                @include respond(tablet) {
                    position: absolute; 
                    right: 20px;
                    top: 40%;
                    z-index: 99;
                }
            
                @include respond(mobile) {
                    top: 40%;
                    right: 50px;
                }
            }

            & h1:nth-of-type(2) {
                color: $coral;
                text-align: right;
            
                @include respond(tablet) {
                    position: absolute; 
                    right: 0;
                    top: 50%;
                    z-index: 99;
                }
            }

            & p {

                @include respond(tablet) {
                    position: absolute;
                    top: 60%;
                    left: 55%;
                }

                @include respond(mobile) {
                    left: 30%;
                }
            }
        }

        &__controls {
            position: absolute;
            bottom: 0px;
            right: 0;
        }
    }

    &-stories {
        position: relative;
        height: 986px;
        background-color: $seafoam;

        @include respond(tablet) {
            height: 800px;
        }

        @include respond(mobile) {
            height: 594px;
        }

        &__box {
            position: absolute;
            background: $white;
            height: 80.5%;
            width: 93.7%;
            z-index: 50;
            top: 80px;

            @include respond(tablet) {
                top: 40px;
            }
        }

        &__shadow {
            position: absolute;
            background: $pink;
            height: 80.5%;
            width: 95.85%;
            z-index: 1;
            top: 112px;

            @include respond(tablet) {
                top: 80px;
            }
        }


        &__container {
            position: relative;
            padding-top: 128px !important;
            z-index: 99;

            @include respond(tablet) {
                padding-top: 80px !important;
            }
        }

        &__header {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 20px;

            & h2 {
                flex-basis: 90%;
                margin-bottom: 16px;
            }

            & p {
                width: 45%;

                @include respond(tablet) {
                    width: 100%;
                }
                
            }

            & a {
                color: $black;

                @include respond(tablet) {
                    display: none;
                }
            }
        }

        &__slider {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 150px;
            align-items: center;

            @include respond(tablet) {
                margin-bottom: 30px;
            }
        }
        
        &__images {
            position: relative;
            display: flex;
            margin-left: 208px;

            @include respond(tablet) {
                margin-left: 0px;
            }

        }

        &__image {
            position: relative;
            background-color: $black;
            height: 400px;
            margin-right: 24px;

            @include respond(tablet) {
                height: 355px;
                width: 540px;
            }
                
            @include respond(mobile) {
                height: 184px;
                width: 350px;
            }
            
            & img {
                
                @include respond(tablet) {
                    opacity: 0.5;
                    height: 355px;
                    width: 100%;
                }
                
                @include respond(mobile) {
                    height: 184px;
                }
            }
        }
        
        &__details {
            position: absolute;
            width: 30%;
            z-index: 90;

            @include respond(tablet) {
                width: 100%;
            }

            @include respond(mobile) {
                text-align: center;
            }
        }

        &__category {
            display: block;
            margin-bottom: 16px;
            color: $dark-gray;

            @include respond(tablet) {
                text-align: center;
                color: $white;
                margin-bottom: 8px;
            }
        }

        &__title {
            color: $pink;

            @include respond(tablet) {
                text-align: center;
                color: $white;
            }

            &:nth-of-type(1) {
                @include respond(mobile) {
                    display: inline-block;
                    margin-left: auto;
                }
            }

            &:nth-of-type(2) {
                text-align: right;

                @include respond(tablet) {
                    text-align: center;
                }

                @include respond(mobile) {
                    display: inline-block;
                }
            }
        }

        &__btn {
            display: block;
            width: 36.88%;
            border: 1px solid #000000 !important;
            color: $dark-gray !important;

            @include respond(tablet) {
                margin: 0 auto;
                width: min-content;
                border: 1px solid $white !important;
                color: $white !important;

                &:hover {
                    color: $black !important;
                }
            }
        }

        &__controls {
            position: relative;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            z-index: 90;
        }
    }

    &-events {
        position: relative;
        height: 656px;
        background-color: $white;
        padding: 80px 0;
        display: flex;

        @include respond(tablet) {
            padding: 80px 0 !important;
        }

        @include respond(mobile) {
            height: 550px;
        }
        
        &__details {
            margin-top: 60px;
            width: 210px;
            height: 274px;
            text-align: right;

            @include respond(mobile) {
                text-align: left;
                height: 100%;
                position: absolute;
                margin-top: 0px;
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            &--title {
                margin-bottom: 14px;

                @include respond(mobile) {
                    order: 2;
                }
            }
    
            &--month {
                margin-bottom: 64px;

                @include respond(mobile) {
                    order: 1;
                    margin-bottom: 0;
                }
            }
    
            &--btn {
                display: block;
                color: $black;

                @include respond(mobile) {
                    order: 3;
                    margin-top: 350px;
                }
            }
        }
        
        &__controls {
            position: relative;
            align-items: center;
            // display: flex;
            justify-content: flex-end;
            z-index: 90;

            @include respond(mobile) {
                position: absolute;
                bottom: 20px;
            }
        }

        &__slider {
            display: flex;
            justify-content: flex-start;
            z-index: 99;

            @include respond(mobile) {
                margin-top: 70px;
                margin-left: -24px;
                height: 320px;
            }
        }
    }

    &-advocacy {
        position: relative;
        padding: 64px 0;
        background-color: $light-sage;

        &__container {
            background-color: $blush;
            height: 100%;
            width: 100%;
            position: relative;
            padding: 59px 0 34px 78px;
            display: flex;
            flex-direction: column;

            @include respond(tablet) {
                padding: 13px 0;
                flex-direction: column;
            }
        }
        
        &__title {
            margin: 48px 0 16px 0;
            // width: min-content;
            position: absolute;
            width: 340px;
            z-index: 60;
            
            // display: block;

            @include respond(tablet) {
                position: relative;
                width: auto;
                height: auto;
                display: block;

                margin: 0;
             }

             @include respond(mobile) {
                position: relative;
                width: auto;
                height: auto;
                display: block;
             }


            & h1 {
                position: relative;
                text-align: center;

                @include respond(tablet) {
                  text-align: left;
                  font-size: 24px;
                  line-height: 32px
                 }

                &:nth-of-type(1) {
                    color: $teal;
                    // top: 0;

                    @include respond(tablet) {
                        left: 0;
                    }
                }

                &:nth-of-type(2) {
                    // top: 80px;
                    right: -45%;
                    
                    @include respond(tablet) {
                        left: 0;
                    }
                }

                &:nth-of-type(3) {
                    // top: 160px;
                    left: 50%;
                    transform: translateX(-40%);

                    @include respond(tablet) {
                        left: 0;
                        transform: translateX(0%);
                    }
                }
            }
        }

        &__details {
            position: absolute;
            width: 340px;
            height: 72px;
            top: 355px;
            flex-basis: 40%;
            text-align: right;
            z-index: 60;

            @include respond(tablet) {
               position: relative;
               width: auto;
               height: auto;
               display: block;
               text-align: left;
            }

            & p {
                margin-bottom: 53px;
            }

            & a {
                background-color: transparent;
                color: $black;
                border: 1px solid $black;
            }
        }

        &__slider {
            position: relative;
            display: flex;
            margin-left: 400px;

            @include respond(tablet) {
                margin-left: 0;
            }

            & img {
                margin-right: 24px;
            }
        }

        &__controls {
            position: relative;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            z-index: 90;
            margin-right: 70px;
        }
    }
}