.services {
    &__container {
        background-color: $light-periwinkle;
        padding: 63.5px 0 139.5px 0;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__col {
        margin: 0 24px 32px 0;
        width: 396px;

        &:nth-child(3n) {
            margin-right: 0;
        }

        
        @include respond(1264px) {
            width: 100%;
            margin-right: 0;

        }

        @include respond(tablet) {
            width: 100%;
            margin-right: 0;    
        }
    }

    &--forex {
        padding-top: 24px;
        padding-bottom: 180px;

        @include respond(tablet) {
            width: 100%;
            margin: 0 12px;
            padding-bottom: 58px;
        }

        & > p { 
            text-align: center;

            // @include respond(tablet) {
            //     width: 100%;
            // }

            &:nth-of-type(1) {
                margin-bottom: 16px;
            }

            &:nth-of-type(2) {
                margin-bottom: 24px;
            }
        }

        & table {
            margin-bottom: 16px;

            @include respond(tablet) {
                width: 100%;
            }
        }

        &-note {
            text-align: left !important;

            & > img {
                vertical-align: middle;
            }
        }
    }

    
}