.signup {
    width: 100%;
	background:
		linear-gradient(90deg, #FF7B6D (57.4px - 3px), transparent 1%) center,
		linear-gradient(#FF7B6D (57.4px - 3px), transparent 1%) center,
		rgb(121, 121, 121);
	background-size: 57.4px 57.4px;

    & > div {
        height: 100vh;
        display: flex;
        max-width: 1400px;
        position: relative;
        align-items: center;
        margin: 0 auto;
        justify-content: space-between;
        padding: 0 88px 0 32px;

        & > .auth-bg {
            height: 100vh;
            width: 693px;
            background: url('../images/auth-bg.jpg') no-repeat;
            background-size: cover;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 32px;
        align-items: center;
        background-color: $white;
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.35);
        max-height: 731.9px;
        width: 520px;

        & > img {
            height: 61.9px;
            width: 346.86px;
            margin-bottom: 25px;
        }

        & > h3 {
            width: 100%;
            margin-bottom: 24px;
        }

        & > div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;

            &:nth-of-type(1) {
                & > .signup__form-group {
                    justify-content: space-between;
                    width: 220px;
                }
            }

            &:nth-of-type(2),
            &:nth-of-type(3) {
                & > .signup__form-group {
                    justify-content: space-between;
                    width: 100%;

                    & > input {
                        &::placeholder {
                            font-style: italic;
                            color: $gray;
                        }
                    }
                }
            }

            
            &:nth-of-type(3) {
                & > .signup__form-group {
                    & > div {
                        border: 1px solid $gray;
                        display: flex;
                        justify-content: space-between;
                        padding: 4px 15px;
                        height: 40px;
                        position: relative;

                        & > input {
                            outline: none;
                            padding: 0;
                            font-family: Open Sans;
                            font-size: 16px;
                            border: none;
                            width: 317px;

                            &::placeholder {
                                font-style: italic;
                                color: $gray;
                            }
                        }

                        & > img {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        & > h2 {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 11px;
            width: 100%;
            
            & > span {
                position: relative;
                padding-right: 10px;
                text-transform: uppercase;
                color: $gray;
                font-weight: normal;
                background-color: $white;
                z-index: 4;
                width: 97.5px;
                text-align: center;
            }

            &:after {
                content: '';
                position: absolute;
                border-top: 1px solid $mid-gray;
                bottom: 0;
                left: 0;
                right: 0;
                height: 0.3em;
                z-index: 1;
            }
        }

        &-group {
            display: flex;
            flex-direction: column;
            height: 68px;

            & > input {
                outline: none;
                height: 40px;
                padding: 4px 15px;
                font-family: Open Sans;
                font-size: 16px;
                border: 1px solid $gray;
            }
        }

        &-buttons {
            display: flex;
            justify-content: center !important;
            margin: 16px 0 24px 0;
        }

        &-btn {
            width: 163px;
            height: 56px;
            background: #FFFFFF;
            border: 1px solid #E0E0E0;
            box-sizing: border-box;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 16px;
            cursor: pointer;

            & > img {
                margin-right: 8px;
            }

            &:nth-of-type(1) {
                & > span {
                    color: #4267B2;
                }
            }

            &:nth-of-type(2) {
                & > span {
                    color: $dark-gray;
                }
            }
        }

        & > label {
            margin: 0 0 24px 0;
            font-size: 14px;
            line-height: 18px;
            color: $dark-gray;

            & > span {
                margin-top: 5px;
            }
        }

        & > .btn--primary {
            height: 48px;
            width: 100%;
            margin-bottom: 24px;
        }

        & > p {
            color: #000;

            & > a {
                color: #000;
                font-weight: bold;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
}

.login {
    width: 100%;
	background:
		linear-gradient(90deg, #FF7B6D (57.4px - 3px), transparent 1%) center,
		linear-gradient(#FF7B6D (57.4px - 3px), transparent 1%) center,
		rgb(121, 121, 121);
	background-size: 57.4px 57.4px;

    & > div {
        height: 100vh;
        display: flex;
        max-width: 1400px;
        position: relative;
        align-items: center;
        margin: 0 auto;
        justify-content: space-between;
        padding: 0 88px 0 32px;

        & > .auth-bg {
            height: 100vh;
            width: 693px;
            background: url('../images/auth-bg.jpg') no-repeat;
            background-size: cover;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 32px;
        align-items: center;
        background-color: $white;
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.35);
        max-height: 731.9px;
        width: 520px;

        & > img {
            height: 61.9px;
            width: 346.86px;
            margin-bottom: 25px;
        }

        & > h3 {
            width: 100%;
            margin-bottom: 24px;
        }

        & > div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;

            &:nth-of-type(1),
            &:nth-of-type(2) {
                & > .login__form-group {
                    justify-content: space-between;
                    width: 100%;

                    & > input {
                        &::placeholder {
                            font-style: italic;
                            color: $gray;
                        }
                    }
                }
            }

            
            &:nth-of-type(2) {
                & > .login__form-group {
                    & > div {
                        border: 1px solid $gray;
                        display: flex;
                        justify-content: space-between;
                        padding: 4px 15px;
                        height: 40px;
                        position: relative;

                        & > input {
                            outline: none;
                            padding: 0;
                            font-family: Open Sans;
                            font-size: 16px;
                            border: none;
                            width: 317px;

                            &::placeholder {
                                font-style: italic;
                                color: $gray;
                            }
                        }

                        & > img {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        & > h2 {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 11px;
            width: 100%;
            
            & > span {
                position: relative;
                padding-right: 10px;
                text-transform: uppercase;
                color: $gray;
                font-weight: normal;
                background-color: $white;
                z-index: 4;
                width: 97.5px;
                text-align: center;
            }

            &:after {
                content: '';
                position: absolute;
                border-top: 1px solid $mid-gray;
                bottom: 0;
                left: 0;
                right: 0;
                height: 0.3em;
                z-index: 1;
            }
        }

        &-group {
            display: flex;
            flex-direction: column;
            height: 68px;

            & > input {
                outline: none;
                height: 40px;
                padding: 4px 15px;
                font-family: Open Sans;
                font-size: 16px;
                border: 1px solid $gray;
            }
        }

        &-buttons {
            display: flex;
            justify-content: center !important;
            margin: 16px 0 24px 0 !important;
        }

        &-btn {
            width: 163px;
            height: 56px;
            background: #FFFFFF;
            border: 1px solid #E0E0E0;
            box-sizing: border-box;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 16px;
            cursor: pointer;

            & > img {
                margin-right: 8px;
            }

            &:nth-of-type(1) {
                & > span {
                    color: #4267B2;
                }
            }

            &:nth-of-type(2) {
                & > span {
                    color: $dark-gray;
                }
            }
        }

        & > label {
            margin: 0 0 24px 0;
            font-size: 14px;
            line-height: 18px;
            color: $dark-gray;

            & > span {
                margin-top: 5px;
            }
        }

        & > .btn--primary {
            height: 48px;
            width: 100%;
            margin-bottom: 24px;
        }

        & > p {
            color: #000;

            & > a {
                color: #000;
                font-weight: bold;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
}


.checkbox-container > span {
    &:hover {
        text-decoration: underline;
    }
}