.user {
    width: 100%;
    background-color: $light-periwinkle;
    
    & > div {
        width: 1400px;
        height: 740px;
        margin: 0 auto;
        display: flex;
        padding: 40px 87px 40px 88px;
    }

    &-profile {
        display: flex;
        flex-direction: column;
        width: 288px;
        margin-right: 24px;

        &__header {
            font-family: Josefin Sans;
            font-weight: 600;
            font-size: 24px;
            line-height: 40px;
            text-transform: uppercase;
            color: $black;
            margin-bottom: 16px;
        }

        & > div {
            height: 510px;
            border-radius: 4px;
            background-color: $white;
            box-shadow: 0px 7px 10px rgba(201, 208, 222, 0.25);
        }

        &__avatar {
            background-color: $lilac;
            border-radius: 4px 4px 0 0;
            min-height: 180.24px;
            display: flex;
            flex-direction: column;
            padding: 24px 0;
            align-items: center;
        }

        &__content {
            border-radius: 0 0 4px 4px;
            padding: 17.76px 24px 24px 24px;
            display: flex;
            flex-direction: column;
            color: $black;

            & > p {
                margin-bottom: 16px;
            }
            
            & > .font-fineprint {
                margin-bottom: 4px;
            }
            
            & > .font-caption {
                margin-bottom: 16px;
            }

            & > a {
                color: $indigo;
                text-decoration: none;
                outline: none;
                font-family: Open Sans;
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
                cursor: pointer;
                text-transform: uppercase;
                align-self: center;

                & > img {
                    vertical-align: middle;
                    margin-right: 4px;
                }
            }
        }
    }

    &-orders {
        display: flex;
        flex-direction: column;
        width: 912px;

        &__header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;

            & > p {
                font-family: Josefin Sans;
                font-weight: 600;
                font-size: 24px;
                line-height: 40px;
                text-transform: uppercase;
                color: $black;
            }

            & > div {
                & > span {
                    color: $gray;
                }

                & > select {
                    height: 40px;
                    width: 170px; /*change from 122px to 170*/
                    padding: 9px 0 9px 16px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background: url('../../assets/images/icons/angle-down-black.svg') 90% / 8% no-repeat $white;
                    border: 1px solid $gray;
                    outline: none;
                }
            }
        }

        &__tbl {
            background: $white;
            box-shadow: 0px 5px 7px rgba(231, 234, 244, 0.35);
            border-radius: 4px;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;

            &-header {
                padding: 0 24px;
                background-color: $lilac;
                display: flex;
                align-items: center; 
                width: 100%;
                height: 48px;

                & > span {

                    &:not(:last-child) {
                        margin-right: 2.19%;
                    }

                    &:nth-child(1) {
                        width: 10.75%;
                    }
                    &:nth-child(2) {
                        width: 16%;
                    }
                    &:nth-child(3) {
                        width: 7.46%;
                    }
                    &:nth-child(4) {
                        width: 27.41%;
                    }
                    &:nth-child(5) {
                        width: 11.51%;
                    }
                    &:nth-child(6) {
                        width: 10.50%;
                    }
                }
            }

            &-content {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0 24px;
            }

            &-row {
                display: flex;
                align-items: center; 
                width: 100%;
                height: 72px;

                &:not(:last-child) {
                    border-bottom: 1px solid $silver;
                }

                & > span {
                    font-family: Open Sans;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;

                    &:nth-child(1) {
                        font-weight: 600;
                    }

                    &:not(:last-child) {
                        margin-right: 2.19%;
                    }

                    &:nth-child(1) {
                        width: 10.75%;
                    }
                    &:nth-child(2) {
                        width: 16%;
                    }
                    &:nth-child(3) {
                        width: 7.46%;
                    }
                    &:nth-child(4) {
                        width: 27.41%;
                    }
                    &:nth-child(5) {
                        width: 11.51%;
                    }
                    &:nth-child(6) {
                        width: 10.50%;
                    }
                }
            }
        }

        
        & > a {
            display: flex;
            align-items: center;
            height: 32px;
            width: 131px;
        }
    }
}