.wrapper {
    overflow: hidden;
}

.container {
    width: 1284px;
    padding: 0 $gutter-desktop;
    margin: 0 auto;

    @include respond(tablet) {
        width: 600px;
        padding: 0 $gutter-tablet; 
    }

    @include respond(mobile) {    
        width: 360px;
        padding: 0 $gutter-mobile;
    }
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px $gutter-desktop;

    @include respond(tablet) {
        padding: 0px $gutter-tablet;
    }

    @include respond(mobile) {
        padding: 0px $gutter-mobile;
    }
}    