.container {
    width: 1284px;
    padding: 0 $gutter-desktop;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 840px) { 
    .container{
        width: 600px !important;
        padding: 0 $gutter-tablet !important; 
    }
}

@media only screen and (max-width: 600px) { 
    .container{
        width: 360px !important;
        padding: 0 !important;
    }
}