.header {
    position: relative;

    &__upper {
        display: flex;
        background-color: $light-blue;
        align-items: center;
        padding: 0 130px;
        height: 40px;
        color: $white;
        font-family: $primary-font;
        font-size: 1em;
        font-weight: 300;
        list-style-type: none;

        & li {
            display: inline-block;
            cursor: pointer;
        }

        &--left {
            flex-basis: 50%;
        }

        &--right {
            text-align: right;
            flex-basis: 50%;

            & span {
                font-size: 1.2em;
            }
        }
    }

    &__lower {
        display: flex;
        align-items: center;
        padding: 0 130px;
        height: 160px;
        background-color: $black;

        &--logo {
            flex-basis: 40%;

            & img {
                height: 70px;
            }
        }

        &--menu {
            text-align: right;
            flex-basis: 60%;
            font-family: $primary-font;
            font-size: 1em;
            font-weight: 400;
            list-style-type: none;


            & li {
                display: inline-block;
                cursor: pointer;
                color: #FFF;
                padding: 20px 0px 13px 0px;
                border-bottom: 7px solid transparent;

                &:hover {
                    border-bottom: 7px solid $white;
                    font-weight: 600;
                }
            }
        }
    }

    &__dropdown {
        display: none;
        background-color: $white;
        position: absolute;
        height: calc(100vh - 300px);
        width: calc(100% - 260px);
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
}