.banner {
    background-color: #F05D6B;
    position: relative;
    // height: 792px;
    height: 100vh;

    @include respond(mobile) {
        height: 500px;
    }

    &__yellow {
        background-color: $bee;
        width: 30%;
        height: 55.17%;
        position: absolute;
        top: -9.15%;

        @include respond(mobile) {
            left: 0;
            //width: 260px;
            width: 80%;
            height: 221px;
            top: 0;
        }
    }

    &__pattern {
        background-image: repeating-radial-gradient(center center, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 2px, transparent 1px, transparent 100%) !important;
        background-size: 50px 50px;
        height: 55.17%;
        width: 100%;
        position: absolute;
        top: -9.15%;
        right: 400px;

        @include respond(tablet) {
            right: 204px;
        }

        @include respond(mobile) {
            right: 94px;
        }
    }

    .main-carousel {
        display: none;

        &.active {
            display: block;
        }
    }

    &__featured {
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        width:80%;
        height: 85%;
        position: absolute;
        right: 0;
        bottom: 0;

        @include respond(360px) {
            right: -28px;
            //height: 378px;
            height: 85%;
        }

        &:nth-of-type(1) {
            background-image: url('../images/carousel-img-01.jpg');

            @include respond(360px) {
                background-image: url('../images/m-carousel-img-01.jpg');
            }
        }
    }


    &__content {
        position: absolute;
        top: 50.63%;
        color: $white;
        width: 691px;
        width: 49%;
        margin-left: 88px;

        @include respond(tablet) {
            width: 74%;
            margin-left: 16px;
        }

        @include respond(mobile) {
            margin-left: 12px;
            top: 58.12%;
        }

        & h1:nth-of-type(2) {
            text-align: right;
        }
    }

    
    &__pagination {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 32px;
        z-index: 9;

        @include respond(tablet) {
            top: 95%;
            left: 50%;
            display: flex;
            justify-content: center;
            transform: translate(-50%, -50%);
        }
    }

    &__btn {
        display: block;
        margin-top: 8px;

        @include respond(mobile) {
            margin-top: 15px;
        }
    }
}

.banner-inner { 
    position: relative;
    min-height: 318px;
    height: auto;
    //padding: 40px 20px;
    display: flex;
    justify-content: center;

    @include respond(tablet) {
        min-height: 200px;
    }
    
    &--blank {
        background-color: $dark-gray;
    }
    
    &--whatsnew {
        background: url('../../assets/images/banner-whatsnew.png') no-repeat;
        background-size: cover;
        background-position: center right; 
        align-items: center;
        height: 350px;

        @include respond(tablet) {
            justify-content: flex-start;
            align-items: flex-end;
            padding-bottom: 40px;
            padding-left: 10%;
            height: 200px;
            background-position: 81% 50%; 
        }

        @include respond(tablet) {
            
        }

        & h1 {
            margin-top: 30px;
            padding-bottom: 12px;
            border-bottom: 8px solid $lemon;
            color: $white;

            @include respond(tablet) {
                font-size: 32px;
                line-height: 40px;
                padding-bottom: 5px;
                border-bottom: 4px solid $lemon;
                justify-content: start;
            }

        }
    }
    
    &--events {
        background: url('../../assets/images/banner-events.png') no-repeat;
        @include bgcover;
        align-items: center;

        @include respond(tablet) {
            height: 345px;
        }

        @include respond(mobile) {
            background: url('../../assets/images/banner-events-m.jpg') no-repeat;
            @include bgcover;
        }

        & p {
            margin-top: 60px;
            font-weight: 600;
            margin-bottom: 16px;
            color: $white;
        }

        & h1 {
            margin-bottom: 16px;
            color: $white;
        }

        &__input-group {
            width: 600px;
            height: 65px;
            background: rgba(64, 63, 71, 0.5);
            // opacity: 0.3;
            border: 2px solid #FFFFFF;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            padding: 0 20px;

            @include respond(tablet) {
                width: 90%;
                height: 56px;
            }

            & img {
                height: 24px;
                opacity: 1;
            }

            & input {
                border: 0;
                background-color: transparent;
                flex: 0 0 544‬px;
                width: 100%;
                color: $white;
                font-size: 16px;

                
                &::placeholder {
                    color:#fff;
                }

                &:hover,
                &:active,
                &:focus {
                    outline: none;
                }
            }
        }
    }


    &--stories {
        background: url('../../assets/images/banner-stories.jpg') no-repeat;
        @include bgcover;

        @include respond(tablet) {
            background: url('../../assets/images/banner-stories.jpg') no-repeat;
            @include bgcover;
        }

        @include respond(mobile) {
            background: url('../../assets/images/banner-stories-m.jpg') no-repeat;
            @include bgcover;
        }
    }

    &--advocacy {
        background: url('../../assets/images/banner-advocacy.png') no-repeat;
        @include bgcover;

        @include respond(tablet) {
            background: url('../../assets/images/banner-advocacy-m.png') no-repeat;
            @include bgcover;
        }
    }

    &--about {
        background: url('../../assets/images/banner-about.png') no-repeat;
        height: 350px;
        background-size: cover;
        background-position: top right; 
        flex-direction: column;

        & > div {
            width: 90%;

            & h1 {
                color: $white;
                margin-top: 100px;
            }
        }

        @include respond(mobile) {
            height: 200px;
            background: url('../../assets/images/banner-about-m.png') no-repeat;
            background-size: cover;
            background-position: top right; 
            flex-direction: column;
        }
    }

    &--contacts {
        background: url('../../assets/images/banner-contacts.jpg') no-repeat;
        height: 350px;
        background-size: cover;
        background-position: top right; 
        flex-direction: column;

        & > div {
            width: 90%;

            & h1 {
                color: $white;
                margin-top: 100px;
            }
        }

        @include respond(mobile) {
            height: 200px;
            background: url('../../assets/images/banner-contacts-m.png') no-repeat;
            background-size: cover;
            background-position: top right; 
            flex-direction: column;
        }
    }


    &--services {
        background: url('../../assets/images/banner-services.jpg') no-repeat;
        @include bgcover;

        @include respond(tablet) {
            background: url('../../assets/images/banner-services.jpg') no-repeat;
            @include bgcover;
        }

        @include respond(mobile) {
            background: url('../../assets/images/banner-services-m.jpg') no-repeat;
            @include bgcover;
            flex-direction: column;

            & > div {
                width: 90%;
    
                & h1 {
                    color: $white;
                    margin-top: 100px;
                }
            }
        }
    }

}


.big-header {
    position: relative;
    display: flex;
    height: 550px;
    align-items: flex-start;
    padding: 88px 24px 20px 24px;    
    
    @include respond(mobile) {
        height: 344px;
    }

    &--beauty-trends{
        background: url('../../assets/images/banner-beauty-trends.jpg') no-repeat;
        @include bgcover;

        @include respond(tablet) {
            background: url('../../assets/images/banner-beauty-trends.jpg') no-repeat;
            @include bgcover;
        }

        @include respond(mobile) {
            background: url('../../assets/images/banner-beauty-trends-m.jpg') no-repeat;
            @include bgcover;
        }
    }       
    
    &--3ds {
        background: url('../../assets/images/banner-3ds.png') no-repeat;
        @include bgcover;

        @include respond(mobile) {
            background: url('../../assets/images/banner-3ds-m.png') no-repeat;
            @include bgcover;
        }
    }

    &--promo {
        background: url('../../assets/images/banner-whatsnew-promo.png') no-repeat;
        @include bgcover;

        @include respond(mobile) {
            background: url('../../assets/images/banner-whatsnew-promo-m.png') no-repeat;
            @include bgcover;
        }
    } 

    &--press-release {
        background: url('../../assets/images/banner-press-release-blog.png') no-repeat;
        @include bgcover;
    }   

    &--event-fl {
        background: url('../../assets/images/banner-events-fashion-lifestyle.png') no-repeat;
        @include bgcover;

        @include respond(mobile) {
            background: url('../../assets/images/banner-events-fashion-lifestyle-m.png') no-repeat;
            @include bgcover;
        }
    }

    &--event-k {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%), url('../../assets/images/banner-events-kids.png');
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        @include bgcover;

        @include respond(mobile) {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%), url('../../assets/images/banner-events-kids.png');
            background-blend-mode: multiply;
            background-repeat: no-repeat;
            @include bgcover;
        }
    }

    &--quiz{
        background: url('../../assets/images/banner-quiz.jpg') no-repeat;
        @include bgcover;

        @include respond(tablet) {
            background: url('../../assets/images/banner-quiz.jpg') no-repeat;
            @include bgcover;
        }

        @include respond(mobile) {
            background: url('../../assets/images/banner-quiz-m.jpg') no-repeat;
            @include bgcover;
        }
    }      

}

// BANNER MIXINS
@mixin banner-small-m--bc {
    background-size: 100% 200px;
    height: 250px;
}
@mixin banner-small-m {
    background-size: 100% 200px;
    height: 200px;
}

// BREADCRUMBS MIXINS
@mixin breadcrumbs--white {
    color: $white;
    &:not(:last-child) {
        background: url(../../assets/images/arrow-right.svg) no-repeat right center;
    }
}

@mixin breadcrumbs--black {
    color: $black;
    &:not(:last-child) {
        background: url(../../assets/images/arrow-right-black.svg) no-repeat right center;
    }
}

@mixin breadcrumbs--gray {
    color: $dark-gray;
    &:not(:last-child) {
        background: url(../../assets/images/arrow-right-gray.svg) no-repeat right center;
    }
}

// BANNER
.banner-section {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 26px;

    @include respond(mobile) {
        padding: 0 8px;
    }

    &__hr {
        width: 100%;
        height: 1px;
        display: block;
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        position: relative;
        top: 112px;

        @include respond(mobile) {
            display: none;
        }
    }

    &__breadcrumbs { 
        position: relative;
        top: 128px;
        height: 34px;

        @include respond(mobile) {
            position: absolute;
            padding: 9px 0;
            top: 210px;
            height: 40px;
        }

        & > a {
            text-decoration: none;
            font-size: 12px;
            font-weight: normal;
            margin-right: 12px;
            white-space: nowrap;
            padding: 0 16px 0 0;
            display: inline-block;

            @include respond(mobile) {
                font-size: 14px;
                line-height: 22px;
            }

            &:hover {
                text-decoration: underline;
            }

            &:last-child {
                font-weight: bold;
            }
        }
    }

    &__title {
        position: relative;
        color: $white;
        margin-left: 18.32%;
        top: 174px;

        @include respond(tablet) {
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 4px;
        }

        @include respond(mobile) {
            margin-left: calc(7.77% - 8px);
            top: 113px;
        }
    }

    &--small {
        height: 350px;
    }

    &--all-blogs {
        background-image: url('../../assets/images/banner-all-blogs.jpg');

        @include respond(mobile) {
            background-image: url('../../assets/images/banner-all-blogs-m.jpg');
            @include banner-small-m--bc;
        }

        & > .banner-section__breadcrumbs {
            & > a {
                @include breadcrumbs--white;

                @include respond(mobile) {
                    @include breadcrumbs--gray;
                }
            }
        }

        & > .banner-section__title {
            margin-left: 13.71%;
            top: 142px;
            max-width: 780px;

            @include respond(tablet) {
                font-size: 24px;
                line-height: 32px;
            }

            @include respond(mobile) {
                top: 81px;
                width: 80%;
                margin-left: 20px;
            }
        }
    }

    &--all-magazine {
        background-image: url('../../assets/images/banner-all-magazine.jpg');

        @include respond(mobile) {
            background-image: url('../../assets/images/banner-all-magazine-m.jpg');
            @include banner-small-m--bc;
        }

        & > .banner-section__breadcrumbs {
            & > a {
                @include breadcrumbs--white;

                @include respond(mobile) {
                    @include breadcrumbs--gray;
                }
            }
        }
    }

    &--omnibus {
        background-image: url('../../assets/images/banner-omnibus.jpg');

        @include respond(mobile) {
            background-image: url('../../assets/images/banner-omnibus-m.jpg');
            @include banner-small-m--bc;
        }

        & > .banner-section__breadcrumbs {
            & > a {
                @include breadcrumbs--white;

                @include respond(mobile) {
                    @include breadcrumbs--gray;

                    &:nth-of-type(1) {
                        display: none;
                    }
                }
            }
        }

        & > .banner-section__title {
             
            @include respond(tablet) {
                font-size: 24px;
                line-height: 32px;
            }

            @include respond(mobile) {
                margin-left: 20px;
            }
        }
    }

    &--viber {
        background-image: url('../../assets/images/banner-viber.jpg');

        @include respond(mobile) {
            background-image: url('../../assets/images/banner-viber-m.jpg');
            @include banner-small-m--bc;
        }

        & > .banner-section__breadcrumbs {
            & > a {
                @include breadcrumbs--white;

                @include respond(mobile) {
                    @include breadcrumbs--black;

                    &:nth-of-type(1) {
                        display: none;
                    }
                }
            }
        }

        & > .banner-section__title {
            @include respond(mobile) {
                top: 90px !important;
            }
        }
    }

    &--men {
        background-image: url('../../assets/images/banner-mens.jpg');

        @include respond(mobile) {
            background-image: url('../../assets/images/banner-mens-m.jpg');
            @include banner-small-m;
        }
    }

    &--women {
        background-image: url('../../assets/images/banner-women.jpg');

        @include respond(mobile) {
            background-image: url('../../assets/images/banner-women-m.jpg');
            @include banner-small-m;
        }
    }

    &--kids {
        background-image: url('../../assets/images/banner-kids.jpg');

        @include respond(mobile) {
            background-image: url('../../assets/images/banner-kids-m.jpg');
            @include banner-small-m;
        }
    }

    &--youth {
        background-image: url('../../assets/images/banner-youth.jpg');

        @include respond(mobile) {
            background-image: url('../../assets/images/banner-youth-m.jpg');
            @include banner-small-m;
        }
    }

    &--home {
        background-image: url('../../assets/images/banner-home.jpg');

        @include respond(mobile) {
            background-image: url('../../assets/images/banner-home-m.jpg');
            @include banner-small-m;
        }
    }

    &--beauty {
        background-image: url('../../assets/images/banner-beauty.jpg');

        @include respond(mobile) {
            background-image: url('../../assets/images/banner-beauty-m.jpg');
            @include banner-small-m;
        }
    }

    &--other {
        background-image: url('../../assets/images/banner-other.jpg');

        @include respond(mobile) {
            background-image: url('../../assets/images/banner-other-m.jpg');
            @include banner-small-m;
        }

        & > .banner-section__title {
            @include respond(mobile) {
                top: 90px;
            }
        }
    }

    &--sm-cares {
        background-image: url('../../assets/images/banner-sm-cares.jpg');

        @include respond(mobile) {
            background-image: url('../../assets/images/banner-sm-cares-m.jpg');
            @include banner-small-m;
        }
    }

    &--press-release {
        background-image: url('../../assets/images/banner-press-release.jpg');

        @include respond(mobile) {
            background-image: url('../../assets/images/banner-press-release-m.jpg');
            @include banner-small-m;
        }
    }

    &--forex {
        background-image: url('../../assets/images/banner-services-forex.jpg');

        @include respond(mobile) {
            background-image: url('../../assets/images/banner-services-forex-m.jpg');
            @include banner-small-m--bc;
        }

        & > .banner-section__breadcrumbs {
            & > a {
                @include respond(mobile) {
                    @include breadcrumbs--black;

                    &:nth-of-type(1) {
                        display: none;
                    }
                }
            }
        }

        & > .banner-section__title {
            @include respond(mobile) {
                top: 90px !important;
            }
        }
    }
} 

