.banner {
    background-color: #F05D6B;
    position: relative;
    height: 792px;

    @include respond(mobile) {
        height: 500px;
    }

    &__pattern {
        background: url('../images/banner-pattern.svg') no-repeat;
        background-size: cover;
        height: 437px;
        width: 1055px;
        position: absolute;
        top: -9.15%;
        left: -5.2%;
    }

    &__featured {
        background: url('../images/banner.svg') no-repeat;
        background-position: center center;
        background-size: cover;
        // height: 704px;
        // width: 1104px;
        width: 70%;
        height: 85%;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__content {
        position: absolute;
        top: 50.63%;
        color: $white;
        max-width: 691px;
        width: 49%;
        margin-left: 88px;

        @include respond(tablet) {
            width: 74%;
            margin-left: 16px;
        }

        @include respond(mobile) {
            margin-left: 12px;
            top: 58.12%;
        }

        & h1:nth-of-type(2) {
            text-align: right;
        }
    }

    
    &__pagination {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 32px;
        z-index: 9;

        @include respond(tablet) {
            top: 95%;
            left: 50%;
            display: flex;
            justify-content: center;
            transform: translate(-50%, -50%);
        }
    }

    &__btn {
        display: block;
        margin-top: 8px;
    }
}