.btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Lato;
    border: none;

    &::after {
        content: '\2014\2014';
        letter-spacing: -2px;
        margin-left: 5px;
    }

    &--small {
        font-size: 0.8em;
    }

    &--large {
        font-size: 1.5em;
    }
}