.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 22px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: $font-base;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    
    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &:hover input ~ .checkmark {
        background-color: #ccc;
    }

    & input:checked ~ .checkmark {
        background-color: $cerulean;
        border: 1px solid #0184E2;
    }

    & input:checked ~ .checkmark:after {
        display: block;
    }

    & > .checkmark:after {
        left: 5.5px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: $white;
    border: 1px solid $gray;
    box-sizing: border-box;
    border-radius: 4px;

    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}