.nav {
    &__upper {
        display: flex;
        height: 32px;
        padding: 0 24px;
        justify-content: space-between;
        align-items: center;
 
        &--default {
            background-color: $blue;
        }

        &--sale {
            background-color: #C54238;
        }

        &-list {
            display: flex;

            & li {
                & a, span {
                    color: $white;
                    text-decoration: none;
                }
            }

            &-menu {
                flex: 0 0 33.33%;
                
                @include respond(1160px) {
                    display: none;    
                }

                & li {
                    margin-right: 24px;
                }
            }

            &-forex {
                justify-content: center;
                flex: 0 0 33.33%;
                
                @include respond(1160px) {
                    flex: 0 0 100%;
                }

                & li {
                    margin: 0 12px;
                }
            }
            &-misc {
                justify-content: flex-end;
                flex: 0 0 33.33%;
                
                @include respond(1160px) {
                    display: none;    
                }

                & li {
                    margin: 0 0 0 24px;
                }
            }
        }
    }

    &__lower {
        position: absolute;
        display: flex;
        height: 88px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
        padding: 14px 24px;
        justify-content: space-between;
        align-items: center;

        &-burger {
            display: none;
            cursor: pointer;

            @include respond(1160px) {
                display: flex;
                flex: 0 0 16px;
                align-items: center;
                
                & img {
                    height: 24px;
                }
            }
        }


        & .logo {
            flex: 0 0 20%;

            @include respond(tablet) {
                flex: 0;
             }

           img {
                @include respond(tablet) {
                   width: 175px;
                } 
           }

           
        }

        &-menu {
            display: flex;
            flex: 0 0 766px;
            justify-content: space-between;
            align-items: center;
            margin-left: auto;

            @include respond(1160px) {
                display: none;
            }

            &-item {
                height: 100px;
                display: flex;
                align-items: center;

                & > a {
                    position: relative;
                    font-weight: 600;


                    &::after {
                        content: '';
                        position: absolute;
                        display: none;
                        width: 100%;
                        top: 36px;
                        border-bottom: 3px solid $white;
                    }
                }

                &:hover {
                    & > a {
                        &::after {
                            display: block;
                        }
                    }

                    & > .nav__dropdown {
                        display: flex;
                    }
                }

                &:nth-of-type(4) {
                    &:hover > .nav__dropdown--events {
                        display: flex;
                    }
                }

                & > a {
                    color: $white;
                    text-decoration: none;
                    padding-bottom: 8px;
                    // border-bottom: 3px solid transparent;

                    @include respond(1160px) {
                        color: $black;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: normal;
                    }

                    // &:hover,
                    // &.active {
                    //     border-bottom: 3px solid $white;
                    // }
                }
            }
        }

        &-search {
            flex: 0 0 16px;
            display: flex;
            align-items: center;
            margin-left: 35px;
                
            & img {
                height: 24px;
            }
        }
    }

    &__mobile {
        display: none;
        position: absolute;
        top: 100px;
        left: 12px;
        width: 360px;
        min-height: 468px;
        align-items: center;
        flex-direction: column;
        background-color: $white;
        box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
        z-index: 199;
        padding: 0 24px;

        &-container {
            display: none;
            flex-direction: column;
        }

        &-sub {
            display: none;
            position: absolute;
            top: 100px;
            left: 12px;
            width: 360px;
            min-height: 473px;
            align-items: center;
            flex-direction: column;
            background-color: $white;
            box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
            z-index: 199;
            padding: 0 24px;
        }

        &-header {
            padding: 16px 0;
            display: flex;
            width: 312px;
            align-items: center;
            justify-content: space-between;

            & a {
                text-decoration: none;
                color: #000;
            }
        }

        &-content {
            // min-height: 345px;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 16px;

            &-item {
                position: relative;
                display: block;
                align-items: center;
                padding: 0 16px;
                margin-bottom: 8px;
                height: 80px;
                width: 312px;

                & img {
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                & span {
                    position: absolute;
                    color: $white;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 50;
                }
            }

            &.nav__mobile--events {
                & h1 {
                    margin: 16px 0;
                }

                & ul {
                    & li {
                        margin-bottom: 16px;

                        & > a {
                            color: #000;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        &-control {
            padding: 16px 0;
            border-bottom: 1.2px solid #E0E0E0;

            & > li {
                width: 312px;
                cursor: pointer;
            }

            &-back {
                display: flex;
                align-items: center;
                text-decoration: none;

                & span {
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 1.6px;
                    text-transform: uppercase;
                    color: $gray;
                    margin-left: 13px;
                }
            }
        }

        &-upper {
            padding: 16px 0;
            border-bottom: 1.2px solid #E0E0E0;

            & > li {
                height: 40px;
                width: 312px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-item {
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                text-decoration: none;
                color: $black;
                display: block;
                width: 100%;
                height: 100%;
                cursor: pointer;
                
                &::after {
                    content: '\203A';
                    font-size: 20px;
                    float: right;
                    vertical-align: middle;
                    // margin-top: -5px;
                }
            }
        }

        &-lower {
            padding: 16px 0;
            border-bottom: 1.2px solid #E0E0E0;

            & > li {
                height: 36px;
                width: 312px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-item {
                font-weight: normal;
                font-size: 14px;
                line-height: 36px;
                text-decoration: none;
                color: $dark-gray;
                display: block;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }

        &-lang {
            padding: 8px 0 0 0;
            
            & > li {
                height: 36px;
                width: 286px;
            }

            &-item {
                text-decoration: none;
                color: $dark-gray;
                display: block;
                width: 100%;
                height: 100%;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;

                & span {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 1.6px;
                    text-transform: uppercase;
                }
            }
        }
    }

    &__dropdown {
        width: 1284px;
        position: absolute;
        min-height: 495px;
        left: 50%;
        top: 88px;
        transform: translateX(-50%);
        background-color: $light-gray;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
        padding-top: 24px !important;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 299;

        &:hover {
            display: flex;
        }

        &-cards {
            display: flex;
            justify-content: space-between;

        }

        &-btn {
            color: $dark-gray !important;
            width: 153px;
        }

        &--events {
            width: 1284px;
            position: absolute;
            min-height: 495px;
            left: 50%;
            top: 88px;
            transform: translateX(-50%);
            background-color: $light-gray;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
            padding-top: 24px !important;
            display: none;
            justify-content: space-between;
            flex-direction: row;
        }

        &--services {
            
            .nav__dropdown-cards {
                justify-content: flex-start;
                
                .services-group-cards {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                }
            }
        }

        &-left {
            flex-basis: 70%;
            flex-direction: column;
            justify-content: space-evenly;
        }

        &-right {
            flex-basis: 25%;

            & ul {
                & li {
                    margin-bottom: 16px;

                    & a {
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}