.pagination {
    width: 266px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__page {
        color: $gray;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &.active {
            font-weight: 600;
            color: #000;
        }
    }

    &--center {
        justify-content: center;
    }
}

.pagination-dot {

    &__activator {
        display: none;

        &:checked + label {
            background-color: $white;
        }
    } 

    &__indicator {
        display: block;
        height: 10px;
        width: 10px;
        border: 1.5px solid $white;
        border-radius: 5px;
        margin: 16px 0;
        cursor: pointer;
        

        @include respond(tablet) {
            display: inline-block;
            margin: 0 8px;
        }
    }

}