@mixin socia-button {
    text-decoration: none;
    color: #fff;
    padding: 8px 8px 8px 12px; 

}

@mixin  icon-margin {
     margin-right: 12px;
}

.social-share {
    font-family: $font-base;
    font-weight: normal;
    font-size: 16px;
    margin: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(mobile) {
        flex-wrap: wrap;
        width: 100%;
        margin: 16px 0px 32px 0px;
        justify-content: space-between;
    }

    &:last-child {
        margin: 0;
    }

    &__count {
        color: $black;
        margin: 16px;

        @include respond(mobile) {
            flex-basis: 100%;
            text-align: center;
        }
    }

    &__facebook {
        background-color: #1877F2;
        margin: 16px;

        @include socia-button;  
        img {
            @include icon-margin;  
        }

        @include respond(mobile) {
            flex-basis: 45%;
            margin: 0px;
        }
    }

    &__twitter {
        background-color: #1DA0F1;
        margin: 16px;

        @include socia-button;
        img {
            @include icon-margin;  
        }

        @include respond(mobile) {
            flex-basis: 45%;
            margin: 0px;
        }
    }
}