.tbl {
    width: 100%;
    border-collapse: collapse;

    & tr {
        &.by-three {
            display: flex;

            & > td {
                flex-basis: 33.33%;
            }
        }
        &.by-two {
            display: flex;

            & > td {
                flex-basis: 50%;
            }
        }

        &:nth-child(odd) {
            background-color: #F9FBFF;
        }
    }

    & th {
        padding: 16px 24px;
        background-color: #EFF3FD;
        border: 1px solid $mid-gray;
    }

    & td {
        padding: 16px 0;
        border: 1px solid $mid-gray;
        text-align: center;
    }
}