.tooltip {
    display: inline-block;
    position: relative;
    border-bottom: 1px dotted #666;
    text-align: left;
    
    & .bottom {
        min-width: 371px;
        top: 40px;
        left: 50%;
        transform: translate(-10%, 0);
        padding: 10px 20px;
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0.8);
        font-weight: normal;
        font-size: 13px;
        border-radius: 4px;
        position: absolute;
        z-index: 99;
        box-sizing: border-box;
        display: none;

        @include respond(960px) {
            left: -294px;
        }

        @include respond(mobile) {
            min-width: 336px;
            left: -268px;
        }

        & > i {
            position: absolute;
            bottom: 100%;
            left: 5%;
            width: 24px;
            height: 12px;
            overflow: hidden;

            @include respond(960px) {
                left: 86%;
            }

            &::after {
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                left: 50%;
                transform: translate(-50%,50%) rotate(45deg);
                background-color: rgba(0, 0, 0, 0.8);
            }
        }

        & > p {
            color: $white;
        }
    }
    
    &:hover .bottom {
        display: block;
    }

}