@mixin respond($breakpoint) {
    @if $breakpoint == mobile {
        @media only screen and (max-width: 600px) { @content };
    }
    @if $breakpoint == tablet {
        //@media only screen and (max-width: 840px) { @content }; 
        @media only screen and (max-width: 1024px) { @content }; 
    }
    @if $breakpoint == desktop {
        @media only screen and (min-width: 841px) and (max-width:1400px) { @content };
    }

    @if $breakpoint == large-screen {
        @media only screen and (min-width: 1401px) { @content };
    }

    @else {
        @media only screen and (max-width: $breakpoint) { @content }; //Custom size 
    }
}

@mixin respondMinWidth($breakpoint) {
    @media only screen and (min-width: $breakpoint) { @content };
}

@mixin alignLeftPadding20 {
    text-align:left; 
    padding-left:20%;
    margin-top: 120px;
}

@mixin paddingTop56 {
    padding-top: 56px;
}

@mixin  iconPlay {
    position: absolute;
    top: 50%;
    left: 50%;
}

@mixin section60 {
    padding: 60px 0;
}

@mixin bgcover {
    background-size: cover;
    background-position: center left; 
    flex-direction: column;
}



