@mixin  hide {
   display: inline;
}

@mixin  show {
    visibility: show;
}

@mixin navMoveInUp {
    animation: moveNavListInUp;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@mixin  opacityFillMode {
    opacity: 0;
    animation-fill-mode: forwards !important;
}



.animated-logo {
    position: absolute;
    //top: 47px;
    //left: 25px;
    top:48%;
    left:40%;
    z-index: 99;

    animation-name: moveFromCenter;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.moiveInLeft {
    @include opacityFillMode();
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-delay: 1s;
}

.moiveInTopCornerLeft {
    @include opacityFillMode();
    animation-name: moveInTopCornerLeft;
    animation-duration: 1s;
    animation-delay: 1s;
}

.moiveInRight {
    @include opacityFillMode();
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-delay: 1s;
}

.moveInDown {
    @include opacityFillMode();
    animation-name: moveInDown;
    animation-duration: 0.5s;
    animation-delay: 1.5s;
}

.moveInUp {
    @include opacityFillMode();
    animation-name: moveInUp;
    animation-duration: 1s;
    animation-delay: 1.5s;
}


/*.nav__lower {
    background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 0%);
    animation: bgFade;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay:1.5s;
    //transition: all;
    //transition-duration: 0.5s;
}

.widget {
    &--promos {
        @include navMoveInUp();
        animation-delay: 2.25s;
    }

    &--events {
        @include navMoveInUp();
        animation-delay: 2.50s;
    }

    &--locator {
        @include navMoveInUp();
        animation-delay: 2.75s;
    }
}*/

.navanimate {

    &__item {
        opacity: 0;
        animation-fill-mode: forwards !important;
        
        &:nth-child(1) {
            @include navMoveInUp();
            animation-delay: 1.1s;
        }

        &:nth-child(2) {
            @include navMoveInUp();
            animation-delay: 1.15s;
        }

        &:nth-child(3) {
            @include navMoveInUp();
            animation-delay: 1.2s;
        }

        &:nth-child(4) {
            @include navMoveInUp();
            animation-delay: 1.25s;
        }

        &:nth-child(5) {
            @include navMoveInUp();
            animation-delay: 1.30s;
        }

        &:nth-child(6) {
            @include navMoveInUp();
            animation-delay: 1.35s;
        }

        &:nth-child(7) {
            @include navMoveInUp();
            animation-delay: 1.40s;
        }

        &:nth-child(8) {
            @include navMoveInUp();
            animation-delay: 1.45s;
        }
    }

    &__lower-search {
        @include opacityFillMode();
        @include navMoveInUp();
        animation-delay: 1.50s;
    }
}


.services-animate {

    animation: moveInUp;
    animation-duration: 1s;
    animation-timing-function: ease;
       
}



@keyframes moveFromCenter {
    0% {
        // transform: translateY(50%), translateX(50%);
        // position: absolute;
        top: 48%;
        left: 40%;
    }

    100% {
        transform: translate(0);
        top: 47px;
        left: 25px;
        transition: 1s;

    }
}

@keyframes moveNavListInUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes bgFade {
    0% {
        background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 0%);
    }

    100% {
        background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTopCornerLeft {
    0% {
        opacity: 0;
        transform: translateX(-1000px);    
        position: absolute;
        top: -500px;
        left: -500px;
    }

   
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(1000px);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}



